/*	1280*600 = desktop
	768*1024 = tablette
	320*480 = portable */

/*font-family: Lato;*/

/*commentaires*/
/*	resolution: 320px	mobile
	resolution: 768px	tablette
	resolution: 1280px	standard

@media screen and (max-width: 320px)
{

}
@media screen and (max-width: 768px)
{
	
}
@media screen and (max-width: 1280px)
{
	
}	*/

body {
	margin: 0;
}
.container-fluid {
	padding: 0;
}

.yellow {
	background-color: black;
	padding-right: 0px;
	padding-left: 0px;
}
.yellow ul{
	list-style:none;
	padding:0px;
}
.liste{
	border-top:1px solid white;
	padding:10px;
}
.liste2{
	border-bottom: 1px solid white;
}
.liste:hover{
	background-color:green;
	border:1px dotted white;
}
.yellow img{
	padding-left:20px;
}
.yellow h5{
	padding-left:20px;
}
.yellow p{
	padding-left:20px;
}
.yellow input{
	margin-left:20px;
}
.form-control{
	background-color:#1A1A1A;
}
.input-group .form-control{
	width:85%;
}
.input-group{
	padding-top:70px;
	padding-bottom:70px;
}
.green {
	height: 200px;
	background: url("images/1.jpg");
	background-repeat :no-repeat;
	background-size: cover; 
	padding: 0px;
}
.green:hover {
	background: url("images/1.jpg");
	background-repeat : no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.red {
	height: 200px;
	background: url("images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	padding: 0px;
}
.red:hover {
	background: url("images/2.jpg");
	background-repeat : no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.green2 {
	height: 200px;
	background: url("images/3.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	padding: 0px;
}
.green2:hover {
	background: url("images/3.jpg");
	background-repeat : no-repeat;
	background-size: cover;
	opacity: 0.9;
}
.block_1 {
	height: 100px;
	background-color: black;
	color: white;	
	padding-right: 2%;
	padding-left: 3%;
	padding-top: 15px;
}
.blog {
	padding: 0;
}
h5 {
	margin-top: 0;
	font-family: Lato;
	font-weight: 300;
	text-transform: upp;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: #24890d;
	text-decoration: none;
}
h4 {
	font-family: Lato;
	font-weight: 300;
}
p a {
	color: #24890d;
	text-decoration: none;
}
.gray{
	height: 600px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
}
.white{
	height: 500px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
	margin: 70px;
}
.pink{
	height:500px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
}
.img_audiotheme {
	background: url(elements/images/audiotheme-overview-video-thumbnail.jpg);
	background-repeat :no-repeat;
	background-size: cover;
	height: 200px;
}
.footer{
	height: 50px;
	background-color: black;
	padding-right: 0px;
	padding-left: 5px;
	bottom:0px;	
}
.img1{
	width: 100%;
	height: 100%; 
}
.padding{
	padding-left: 0px;
	padding-right: 0px;
}
.pink a{
	color: green;
}
.pink h4{
	margin-top: 70px;
	padding-top: 10px;
	border-top: 4px solid black;
}
iframe {
	background-position: center;
}

/* media queries */
@media screen and (max-width: 320px) {
	
	.block_1 {
	min-height: 100px;
	background-color: black;
	color: white;
	padding-right: 0px;
	padding-left: 0px;
	}
}
/* fin media queries */

.video2{
	height:200px;
}
.video1{
	height:250px;
}
h1{
	font-size:30px;
	font-weight:300px;
}
.nav_bar{
	background-color: black;
	color: white;
	margin-bottom: 0px;
}
.topito{
	padding-top: 50px;
	margin: auto;
}
.liste_top:hover {
	background-color:green;
	color: white;
}
.nav_bar li {
	display: inline;
	margin-left: 2%;
	color: white;
}
.navbar_img{
	height:95%;
	width:95%;
}
