.yellow{
	height:800px;
	background-color:yellow;
}
.green{
	height:200px;
	background-color:green;
}
.red{
	height:200px;
	background-color: red;

}
.purple{
	height:100px;
	background-color:purple;
}
.gray{
	height:500px;
	background-color:gray;
}
.white{
	height:500px;
	background-color:white;
}
.pink{
	height: 500px;
	background-color:red;
}
.footer{
	height:100px;
	background-color:black;
