/*commentaires*/
/*	resolution: 320px	mobile
	resolution: 768px	tablette
	resolution: 1280px	standard

@media screen and (max-width: 320px)
{

}
@media screen and (max-width: 768px)
{
	
}
@media screen and (max-width: 1280px)
{
	
}	*/

@media screen and (max-width: 320px)
{
	.block_1 {
	min-height: 100px;
	background-color: black;
	color: white;
	padding-right: 0px;
	padding-left: 0px;
}

}
body {
	margin: 0;
}
.yellow{
	height: 800px;
	background-color: yellow;
	padding-right: 0px;
	padding-left: 0px;
}
.green{
	height: 200px;
	background: url("images/1.jpg");
	background-repeat :no-repeat;
	background-size: cover; 
	padding: 0px;
	height: 200px;
}
.red{
	height: 200px;
	background: url("images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	padding: 0px;
	height: 200px;

}
.green2{
	height: 200px;
	background: url("images/3.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	padding: 0px;
	height: 200px;

	}
.block_1{
	min-height: 100px;
	background-color: black;
	color: white;
	padding-right: 0px;
	padding-left: 0px;
}
.gray{
	height: 500px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
}
.white{
	height: 500px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
	margin: 70px;
}
.pink{
	height: 500px;
	background-color: white;
	padding-right: 0px;
	padding-left: 0px;
}
.footer{
	height: 50px;
	background-color: black;
	padding-right: 0px;
	padding-left: 2%;	
}
.img1{
	width: 100%;
	height: 100%; 
}
.padding{
	padding-left: 0px;
	padding-right: 0px;
}
.pink a{
	color: green;
}
.pink h4{
	margin-top: 70px;
	padding-top: 10px;
	border-top: 4px solid black;
}
iframe {
	background-position: center;
}